html {
overflow:hidden
  }

  body{
  color: white;
  font-family: 'Aldrich', sans-serif;
  margin: 0;
  background: #f7eaee;
  background-image: radial-gradient(transparent, black), url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  overflow: hidden;
}

.pokeball {
  height: 40px;
  width: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.pokeball:hover {
  transform: translateY(1px) rotate(360deg) scale(1.5,1.5);
}

.main-grid {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas: 'trainer pokemon' 'pokeballs pokemon';
}

.div1 {
  background-color: rgba(90, 120, 170, 0.6);
  height: 20vh;
  grid-area: trainer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;

}

.div2 {
  background-color: rgba(237, 223, 68, 0.4);
  height: 80vh;
  grid-area: pokeballs;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.div2 p {
margin:0;
padding: 5px 5px 5px 10px;
display: flex;
align-items: center;
transition-duration: 0.4s;
height: 55px;
min-height: 55px;
}

.button1:hover {
    background-image: radial-gradient(transparent, black), url("images/rattata_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}
.button2:hover {
    background-image: radial-gradient(transparent, black), url("images/bunnelby_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}
.button3:hover {
    background-image: radial-gradient(transparent, black), url("images/bidoof_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}
.button4:hover {
    background-image: radial-gradient(transparent, black), url("images/zigzagoon_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}
.button5:hover {
    background-image: radial-gradient(transparent, black), url("images/patrat_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}
.button6:hover {
    background-image: radial-gradient(transparent, black), url("images/zubat_but.png");
    background-position: center;
    box-shadow: 5px 5px 5px black;
}

.div3 {
  grid-area: pokemon;
  height: 100vh;
  background-color: rgba(226, 99, 68, 0.4);
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.div3 p {
  margin: 5px;
}

.div3 h3 {
  margin: 5px;
}

.div3 h1 {
  margin: 5px;
}

.statsinfo {
  margin-top:200px
}

.statsimg {
  position: relative;
  left: -200px;
  top: -200px;
width: 80vw;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.statsimg img {
max-width: 800px;
overflow: hidden;
max-height: 800px;
}

.statsinfo {
  font-size: .8em;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  z-index: 4;
  border-radius: 10px;
  width: 300px;
  position:relative;
  left:20px;
}

.hidden {
  opacity: 0;
    transition: opacity;
 transition-duration: 2s;
}

.reveal {
  opacity: 1;
  transition: opacity;
 transition-duration: 2s;
}
