$desktop: '(min-width: 991px)';
$medium: '(max-width: 990px)';
$tiny: '(max-width: 500px)';

p {
  @media #{$desktop} {
    font-size: 0.9em;
  };
  @media #{$medium} {
    font-size: 0.7em;
  }
}

.pokeball {
  @media #{$medium} {}
}

.trainername {
  @media #{$medium} {
    margin: 10px 5px 15px 20px;
  }
}

.div2 {
  @media #{$medium} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top-right-radius: 30px;
    height: 100%;
    transition-duration: 1s;
  }
}

.div2 div {
  @media #{$medium} {
    z-index: 6;

  }
}

.div3 {
  @media #{$medium} {
    border-top-right-radius: 0;
min-height: 300px;
height: 52vh;
  }
}

.statsimg {
  @media #{$medium} {

  }
}

.statsimg img {
  @media #{$medium} {
    max-width: 600px;
    max-height: 600px;
    position: relative;
    left: 20px;
    top: 120px;
    z-index: 3;
  }
}

.statsimg img {
  @media #{$tiny} {
    max-width: 400px;
    max-height: 400px;
    position: relative;
    left: -50px;
    top: 220px;
    z-index: 3;
  }
}

.statsinfo {
  @media #{$medium} {
    border-top-right-radius: 20px;
    width: 180px;
    position: relative;
    top: 20px;
    line-height: 12px;
  }
}

.statsinfo {
  @media #{$tiny} {
    font-size: 12px;
    width: 130px;
    position: relative;
    left: 0;
    top: 35px;
    line-height: 12px;
    box-shadow: none;
  }
}

.div2 div {
  @media #{$medium} {
    box-shadow: 0;
  }
}

.button2:hover {
  @media #{$medium} {
    border-top-right-radius: 30px;
  }
}

.button2 {
  @media #{$medium} {
    border-top-right-radius: 30px;
  }
}

.more-button {
  padding: 10px 8px 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(45, 45, 45, 0.85);
  border-radius: 6px;
  width: 100px;
}
